#include"resource.h"
ID_CORNER_RU_1 BITMAP "corner-RU1.bmp"
ID_CORNER_RU_2 BITMAP "corner-RU2.bmp"
BD BITMAP "backdemo.bmp"
ID_INTRO BITMAP "Intro2.bmp"
ID_EXIT1 BITMAP "exit.bmp"
ID_EXIT2 BITMAP "exit2.bmp"
ID_SAVE1 BITMAP "save-able.bmp"
ID_SAVE2 BITMAP "save-grey.bmp"
ID_SAVE3 BITMAP "saveex.bmp"
ID_SETTINGS1 BITMAP "settings1.bmp"
ID_SETTINGS2 BITMAP "settings2.bmp"
ID_INFO1 BITMAP "info1.bmp"
ID_INFO2 BITMAP "info2.bmp"
ID_ICON ICON "handi2.ico"
